<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hito.dao.TodoDao">

	<select id="getEventsByName" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT id,title,start,end,url,descr FROM `events` WHERE
		USER_NAME=#{user_name}
	</select>

	<insert id="insertEvent" parameterType="java.util.Map">
		INSERT INTO
		`EVENTS`(title,descr,start,end,user_name)
		VALUES(#{title},#{descr},#{start},#{end},#{user_name})
	</insert>
	
	<update id="updateEvent" parameterType="java.util.Map">
		UPDATE `events` SET title = #{title}, descr=#{descr} WHERE id=#{id}
	</update>

</mapper>