html, body, div {
	color: white;
	overflow: hidden;
}

body {
	background-color: #2A3F54;
	color: white;
}

.ui-dialog-title {
	text-align: center;
}

a, body, h1, h2, h3, h4, h5, h6 {
	color: white;
	text-decoration: none;
}

ul li {
	display: inline;
}

.row1 {
	height: 60px;
}

.logo {
	float: left;
	margin-left: 60px;
}

.title {
	position: absolute;
	left: -9999px;
}

.row1 .log-reg {
	width: 100px;
	float: right;
	margin-right: 60px;
}

.login {
	
}

.register {
	
}

.row2 {
	height: 100%;
}

.row2title {
	text-align: center;
	margin-top: 100px;
}

.list {
	
}

.li_ {
	background-color: #0044CC;
	height: 50px;
	width: 50px;
}

.holder {
	width: 200px;
	height: 200px;
	transform: scale(.5);
}

.intro {
	line-height: 28px;
}

.display div {
	float: left;
	width: 30%;
	margin-left: 3%;
}

.center {
	text-align: center;
}

a img {
	overflow: hidden;
	margin: 0 auto;
	-webkit-transform: scale(.6);
	-webkit-transition: 1s;
	/* 默认显示 0.6倍的照片 */
}

a img:hover {
	-webkit-transform: scale(1);
}

.login_dialog {
	background-image: url(../img/login-bg.jpg);
}

.btns, .reg_psw, .reg_user, .login_psw, .img_upload, .login_user {
	text-align: center;
}

.register_dialog, .img_upload, .login_dialog div {
	height: 50px;
	width: auto;
	margin-top: 5px;
}

.login_psw, .reg_psw, .btns {
	margin-top: 5px;
}

.login_dialog img {
	height: 20px;
}

.register_dialog img {
	height: 20px;
}

.login_dialog input {
	margin-left: 10px;
	background: none;
	height: 30px;
}

.register_dialog input {
	margin-left: 10px;
	background: none;
	height: 30px;
}

.login_dialog, .register_dialog button {
	background: none;
}

.btns {
	margin-top: 10px;
}

.login_error, .reg_error {
	text-align: center;
	display: none;
}

.todo_row1 {
	text-align: center;
	height: 60px;
}

.yincang {
	display: none;
}

.schedule, .plan, .notes, .team {
	float: left;
	text-align: center;
	width: 10%;
}

.schedule {
	margin-left: 30%;
}

#img_input2 {
	display: none;
}

#img_label2 {
	background-color: #f2d547;
	border-radius: 5px;
	display: inline-block;
	padding: 10px;
}

#preview_box2 img {
	width: 80px;
	height: 80px;
}

.img_upload img {
	height: auto;
}

.img_upload {
	height: auto;
	color: #000000;
}

